<h1 class="text-center py-5">Editando estanteria</h1>

<div class="text-center pb-5">
    <%= render 'form', post: @biblioteca %>
</div>

<p class="text-center fw-bold text-danger" id="notice"><%= notice %></p>

<div class="text-center">
    <%= link_to 'Página principal', '/' %>
</div>