<div>
    <form action="/biblioteca" method="post">
        <label for="libro"></label>
        <input name="libro" id="libro" type="text" placeholder="Ingresa tu
        nombre"/>
        <br />
        <input type="submit" name="submit" value="Saludar"/>
    </form>
</div>